@media only screen and (max-width: 0px){
    .page1{
        .nav-bar{
            .navbar-content{
                ul{
                    a{
                        li{

                        }
                    }
                }
            }
        }
        .container1{
            .image-container1{
                img{

                }
            }
            .text-content{
                h1{
                    span{

                    }
                }
                button{

                }
            }
        }
    }
    .page2{
        .container2{
            h1{

            }
            .content2{
                .column-left2{
                    img{

                    }
                }
                .column-right2{
                    .text{

                    }
                }
            }
        }
    }
    .page3{
        .container3{
            h1{

            }
            .content3{
                .column-left3{
                    h2{

                    }
                    p{

                    }
                    .btn-container{
                        a{

                        }
                        button{

                        }
                    }
                }
                .column-right3{
                    .Pimage-style{
                
                    }
                }
            }
        }
    }
    .page4{
        .container4{
            h1{

            }
            .skills-content{
                .column-left{
                    h2{

                    }
                    p{

                    }
                }
                .column-right{
                    .img-container{
                        img{

                        }
                    }
                }
            }
        }
    }
    footer{
        .container5{
            h1{

            }
            .contact-container{
                .contact-left{
                    form{
                        label{

                        }
                        input{
                        
                        }
                        textarea{

                        }
                        .submit{

                        }
                    }
                }
                .contact-right{
                   span{

                   }
                   i{

                   }
                   label{

                   }
                }
            }
        }
    }
}
@media only screen and (max-width: 1440px){
    .page3{
        .container3{
            .content3{
            flex-direction: column;
                .column-left3{
                    margin-bottom: 50px;
                }
                .column-right3{
                align-self: center;
                }
            }
        }
    }
}
@media only screen and (max-width: 1300px){
    .page2{
        .container2{
            .content2{
                .column-right2{
                    margin-left: 60px;
                }
            }
        }
    }
}
@media only screen and (max-width: 1250px){
    .page1{
        .nav-bar{
            .navbar-content{
                ul{
                    a{
                        li{

                        }
                    }
                }
            }
        }
        .container1{
            .image-container1{
                img{
                    width: 500px;
                }
            }
        }
    }  
}
@media only screen and (max-width: 1200px){
    .page1{
        .nav-bar{
            .navbar-content{
                ul{
                    a{
                        li{

                        }
                    }
                }
            }
        }
    }
    .page4{
        padding-bottom: 100px;
        .container4{
            .skills-content{
                flex-direction: column;
                .column-left{
                    width: 80%;
                    margin-bottom: 50px;
                }
                .column-right{
                    align-self: center;
                    .img-container{
                        img{
                            height: 80px;
                        }
                    }
                }
            }
        }
    }
}
@media only screen and (max-width: 1150px){
    .page1{
        .nav-bar{
            // position: relative;;
            .navbar-content{
                position: absolute;
                background-color: rgba(255, 255, 255, 0.94);
                backdrop-filter: blur(10px);
                width: 300px;
                height: 400px;
                right: 0;
                justify-content: center;
                border-radius: 6px;
                box-shadow: -1px 1px 10px -5px black;
                transform: translateX(100%);
                transition: transform .3s ease-in-out;
                ul{
                    flex-direction: column;
                    align-items: center;
                    margin-top: 50px;
                    width: 100%;
                    height: 100%;
                    a{
                        li{
                            margin: 40px 0 0 0;
                        }
                    }
                }
            }
            .bar-container{
                .bar{
                    display: block;
                }
            }
        }
        .container1{
            flex-direction: column-reverse;
            .text-content{
                margin-top: 50px;
                width: 100%;
                height: 900px;
            }
            .image-container1{
                background-color: $colorTheme4;
                margin-top: 100px;
                overflow: hidden;
                width: 100%;
                height: 800px;
                border-radius: 10px;
                box-shadow: 2px 2px 10px -5px black;
                img{
                    width: 50%;
                    top: 10px;
                    right: 0;
                }
            }
        }
    }  
}
@media only screen and (max-width: 1040px){
    .title-section{
        font-size: 35px;
    }
    .container{
        width: 84%;
    }
    .page1{
        .container1{
            .text-content{
                h1{
                    font-size: 35px;
                }
                p{
                    font-size: 16px;
                }   
            }
            .image-container1{
                height: 680px;
                img{
                    width: 50%;
                }
            }
        }
    }
    .page2{
        .container2{
            .content2{
                .column-left2{
                    img{
                        width: 300px;
                        height: 300px;
                    }
                }
            }
        }
    }
    .page3{
        .container3{
            .content3{
                .column-left3{
                    width: 250px;
                }
            }
        }
    }
}
@media only screen and (max-width: 930px){
    .page1{
        .nav-bar{
            .navbar-content{
                ul{
                    a{
                        li{

                        }
                    }
                }
            }
        }
        
        .container1{
            .image-container1{
                height: 680px;
                img{
                    width: 55%;
                }
            }
        }
    }
    .page2{
        .container2{
            .content2{
                flex-direction: column;
                .column-left2{
                    margin-bottom: 50px;
                }
                .column-right2{
                    align-self: flex-start;
                    width: 90%;
                    margin-left: 0px;
                    font-size: 15px;
                }
            }
        }
    }
    .page3{
        .container3{
            .content3{
                .column-left3{
                    h2{
                        font-size: 20px;
                    }
                    p{
                        font-size: 15px;
                    }
                }
                .column-right3{
                    .Pimage-style{
                        width: 100%;
                    }
                   
                }
            }
        }
    }
    .page4{
        .container4{
            .skills-content{
                .column-left{
                    h2{
                        font-size: 20px;
                    }
                    p{
                        font-size: 15px;
                    }
                }
                .column-right{
                    width: 80%;
                }
            }
        }
    }
    footer{
        .container5{
            .contact-container{
                .contact-left{
                    form{
                        .submit{
                            font-size: 15px;
                            width: 140px;
                            height: 35px;
                        }
                    }
                }
                .contact-right{
                    i{
                        font-size: 25px;
                    }
                    span{
                        font-size: 18px;  
                    }
                    label{
                        font-size: 15px;
                    }
                }
            }
        }
    }
}
@media only screen and (max-width: 800px){
    .page1{
        .nav-bar{
            .navbar-content{
                ul{
                    a{
                        li{

                        }
                    }
                }
            }
        }
        .container1{
            .image-container1{
                height: 600px;
            }
        }
    }  
    .page4{
        .container4{
            .skills-content{
                .column-left{
                    width: 100%;
                }
            }
        }
    }
    footer{
        .container5{
            .contact-container{
                flex-direction: column;
                .contact-left{
                    width: 80%;
                    margin-bottom: 50px;
                }
                .contact-right{
                    width: 100%
                }
            }
        }
    }
}
@media only screen and (max-width: 700px){
    .page1{
        .container1{
            .text-content{
                h1{
                    font-size: 30px;
                }
                button{

                }
            }
            .image-container1{
                img{
                    width: 60%;
                }
            }
            
        }
    }
    .page2{
        .container2{
            .content2{
                .column-right2{
                    width: 100%;
                }
            }
        }
    }

    .page4{
        .container4{
            .skills-content{
                .column-left{
                    width: 100%;
                }
            }
        }
    }
}
@media only screen and (max-width: 600px){
    .page1{
        .container1{
            .text-content{
               p{
                width: 100%;
               }
            }
            .image-container1{
                height: 500px;
                img{
                    width: 60%;
                }
            }
        }
    }
}
@media only screen and (max-width: 573px){
    .page1{
        height: 700px;
        .container1{
            .text-content{
                margin-top: 20px;
                height: 600px;
              h1{
               &::before{
                white-space: pre;
               }
              }
              button{
                margin: 50px 0 120px 0;
              }
            }
            .image-container1{
                height: 300px;
                img{
                    width: 300px;
                }
            }
        }
    }
}
@media only screen and (max-width: 550px){
    .page1{
        .nav-bar{
            .navbar-content{
                width: 200px;
            }
        }
    }  
    .page4{
        .container4{
            .skills-content{
                .column-left{
                    h2{
                        font-size: 20px;
                    }
                    p{
                        font-size: 15px;
                    }
                }
                .column-right{
                    width: 100%;
                    .img-container{
                        img{
                            height: 70px;
                        }
                    }
                }
            }
        }
    }
    footer{
        .container5{
            .contact-container{
                flex-direction: column;
                .contact-left{
                    width: 100%;
                    margin-bottom: 50px;
                }
            }
        }
    }
}
@media only screen and (max-width: 480px){
    .container {
        width: 88%;
    }
    .title-section{
        font-size: 30px;
        padding: 20px;
    }
    .container2,
    .container3,
    .container4,
    .container5{
        h1{
            font-size: 25px;
        }
    }
    .page1{
        .nav-bar{
            .navbar-content{
                ul{
                    a{
                        li{

                        }
                    }
                }
            }
        }
        .container1{
            .text-content{
              button{
                width: 100%;
              }
            }
            .image-container1{
                height: 280px;
                img{
                    width: 220px;
                }
            }
        }
    }
    .page2{
        .container2{
            .title-section{
                padding-bottom: 50px;
            }
        }
    }
    .page3{
        .container3{
            .title-section3{
                padding-bottom: 50px;
            }
            .content3{
                margin-bottom: 60px;
                .column-left3{
                    h2{
                        font-size: 20px;
                    }
                }
            }
        }
    }
    .page4{
        .container4{
            .title-section{
                padding: 60px 0 50px 0;
            }
            .skills-content{
                .column-right{
                    .img-container{
                        img{
                            height: 60px;
                        }
                    }
                }
            }
        }
    }
    footer{
        .container5{
            .title-section{
                padding: 60px 0 50px 0;
            }
        }
    }
}