@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:wght@700;800;900&family=Montserrat:wght@300;400;500;600;700;800;900&display=swap');
$colorTheme1: #008726;
$colorTheme2: #94a187;
$colorTheme3: linear-gradient(90deg, rgba(0,135,38,1) 0%, rgba(50,185,44,1) 100%);
$colorTheme4: #272d2d;
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat','Inter Tight', sans-serif;
    scroll-behavior: smooth;
}
.loading-container {
    width: 100%;
    height: 100vh;
    background-color: #313131;
    display: flex;
    justify-content: center;
    align-items: center;
    div{
        width: 10px;
        height: 10px;
        background-color: white;
        margin-left: 8px;
        border-radius: 50%;
        animation: circleanimation 1s ease-out infinite;
    }
     .loading1 {
        animation-delay: .3s
    }
     .loading2 {
        animation-delay: .6s
    }
     .loading3 {
        animation-delay: .8s
    }
     .loading4 {
        animation-delay: 1s
    }
    @keyframes circleanimation{
        0%, 80%, 100%{
            transform: scale(0);
        }
        40% {
            transform: scale(1.0);
        }   
    
    }
}
/* Waiting function | till the content is ready */
.display-container{
    display: none;
}

//Container style to all
.container{
    margin: 0 auto;
    max-width: 1200px;
    width: 78%;
}
//Title style to all
.title-section{
    font-size: 40px;
    text-align: center;
    padding: 50px 0 50px 0;
}
// animation
.reveal {
    opacity: 0;
    transform: translateX(-30px);
    transition: all .3s .2s ease-in-out;
}
.reveal1{
    opacity: 0;
    transform: translateY(-30px);
    transition: all .3s .2s ease-in-out;
}
.reveal2{
    opacity: 0;
    transform: translateY(30px);
    transition: all .3s .2s ease-in-out;
}
.active {
    opacity: 1;
    transform: none;
}

//Page1
.page1{
    .nav-bar{
        position: fixed;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        height: 50px;
        background: white;
        z-index: 10;
        backdrop-filter: blur(10px);
        box-shadow: 0 1px 9px -5px gray;
        animation: navAnimation .3s ease-in-out forwards;
        @keyframes navAnimation{
            0%{
                transform: translateY(-100%);
            }
            100%{
                transform: none;
            }
        }
        .navbar-content{
            width: 90%;
            height: 100%;
            display: flex;
            justify-items: center;
            align-items: center;
            justify-content: flex-end;
            ul{
                display: flex;
                list-style: none;
                font-weight: 450;
                a{
                    text-decoration: none;
                    color: black;    
                    li{
                        margin-left: 60px;
                        font-weight: 500;
                    }
                }
            }
        }
        .bar-container{
            position: absolute;
            top: 15px;
            right: 20px;
            .bar{
                font-size: 25px;
                display: none;
            }
            .xmark{
                display: none;
                font-size: 25px;
            } 
        }
    }
    .container1{
        height: 800px;
        display: flex;
        align-items: center;
        .text-content{
            margin-bottom: 30px;
            width: 80%;
            animation: textAnimation .3s .1s ease-in-out forwards;
            @keyframes textAnimation{
                0%{
                    transform: translateX(-10%);
                    opacity: 0;
                }
                100%{
                    transform: none;
                    opacity: 1;
                }
            }
            h1{
                font-size: 43px;
                color: $colorTheme1;
                &::before{
                    content: "Hi, my name is \A";
                    color: black;
                }
                &::after{
                    content: "\A Front End Developer";
                    white-space: pre;
                    color: black;
                }
            }
            p{
                font-size: 18px;
                width: 550px;
                margin-top: 10px;
            }
            button{
                margin-top: 20px;
                background: $colorTheme3;
                color: white;
                padding: 15px 20px 15px 20px;
                font-size: 20px;
                border: none; 
                border-radius: 6px;
                width: 300px;
                cursor: pointer;
            }
        }
        .image-container1{
            display: flex;
            align-items: flex-end;
            height: 100%;
            width: 20%;
            position: relative;
            z-index: -1;
            img{
                width: 550px;
                position: absolute;
                right: -100px;
                animation: imgAnimation .3s .1s ease-in-out forwards;
                @keyframes imgAnimation{
                    0%{
                        transform: translateY(10%);
                        opacity: 0;
                    }
                    100%{
                        transform: none;
                        opacity: 1;
                    }
                }
            }
        }
    }
}

//Page2
.page2 {
    width: 100%;
    background: $colorTheme1;
    color: white;
    overflow: hidden;
    padding-bottom: 150px;
    position: relative;
    &::after{
        content: "";
        position: absolute;
        height: 31rem;
        left: -5%;
        right: -5%;
        bottom: 0;
        top: 98%;
        background-color: white;
        transform-origin: 0 0;
        transform: rotateZ(-6deg);
        color: black;
    }
    .container2{
        .title-section {
            margin-top: 50px;
        }
        .content2{
            display: flex;
            justify-content: space-around;
            align-items: center;
            overflow: hidden;
            .column-left2{
                img{
                    width: 390px;
                    height: 390px;
                    object-fit: cover;
                    object-position: 50% 10%;
                    border-radius: 50%;
                }
            }
            .column-right2{
                width: 550px;
                .text{
                    line-height: 25px;
                    font-weight: 350;
                }
            }
        }
    }
}

//page3
.page3{
    //Flex-style all in projects
    .project-flex-content{
        display: flex;
        justify-content: space-between;
        margin-bottom: 100px;
        .left-width{
            width: 300px;
            transition: all .7s .6s ease;
            .project-text-style-h2{
                margin-bottom: 20px;
                font-size: 25px;
            }
            .btn-container{
                display: flex;
                margin-top: 25px;
                .project-btn{
                    display: flex;
                    width: 120px;
                    height: 35px;
                    padding: 5px 0;
                    justify-content: center;
                    text-decoration: none;
                    font-weight: 700;
                    position: relative;
                    overflow: hidden;
                    background-color: transparent;
                    &::before{
                        content: "";
                        position: absolute;
                        top: 0;
                        bottom: 0;
                        width: 100%;
                        height: 100%;
                        background: $colorTheme3;
                        transition: transform 1s ease;
                    }
                    &:hover::before{
                        transform: rotate(-180deg);
                    }
                    &::after{
                        content: "Source Code";
                        width: 95%;
                        height: 80%;
                        position: absolute;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        color: black;
                        left: 50%;
                        top: 50%;
                        transform: translate(-50%, -50%);
                        background-color: white;
                        color: black;
                        font-size: 14px;  
                    }
                }
                button{
                    width: 120px;
                    height: 35px;
                    padding: 5px 0;
                    margin-left: 20px;
                    border: none;
                    color: white;
                    font-size: 14px;
                    cursor: pointer;
                    background: $colorTheme1;
                    border-radius: 6px;
                    transition: transform .3s ease;
                    &:hover{
                        transform: scale(1.01);
                    }
                }
            }
        }
    }
    //Project img style
    .Pimage-style{
        width: 800px;
        box-shadow: 0 0 7px -3px gray;
    }
    .container3{
        .title-section3{
            color: black;
            margin-top: -100px;
            padding: 100px 0 100px 0;
        }
        .content3{
            .column-right3{
                .img1, .img2, .img4, .img5, .img6, .img7{
                    object-position: 100% 0%;
                }
                .img3{
                    object-position: 50% 50%;
                }
            }
        }
    }
}
.page4{
    background: $colorTheme1;
    color: white;
    padding-bottom: 150px;
    .container4{
        .title-section{
            padding: 100px 0 100px 0;
        }
        .skills-content{
            display: flex;
            justify-content: space-between;
            .column-left{
                width: 40%;
                // text-align: justify;
                h2{
                    margin-bottom: 20px;
                }
                p{
                    line-height: 25px;
                    font-weight: 350;
                }
            }
            .column-right{
                width: 60%;
                .img-container{
                    display: flex;
                    justify-content: space-evenly;
                    margin-bottom: 20px;
                    img{
                        height: 90px;
                        filter: drop-shadow(1px 1px 1px black);
                    }
                }
            }
        }
    }
}
footer{
    background: white;
    padding-bottom: 100px;
    .container5{
        .contact-container{
            display: flex;
            justify-content: space-between;
            .contact-left{
                width: 48%;
                form{
                display: flex;
                flex-direction: column;
                }
            }
            .contact-left{
                label{
                    font-weight: 500;
                }
                input, textarea{
                    outline: none;
                    padding: 17px;
                    border: none;
                    margin: 10px 0 20px 0;
                    border-bottom: 2px solid black;
                }
                .submit{
                    background: $colorTheme3;
                    width: 130px;
                    font-size: 18px;
                    padding: 9px;
                    outline: none;
                    border: none;
                    border-radius: 7px;
                    color: white;
                    cursor: pointer;
                    i{
                        color: white;
                    }
                }
            }
            .contact-right{
                width: 45%;
                display: flex;
                flex-direction: column;
                span{
                    font-size: 20px;
                }
                a{
                    text-decoration: none;
                    color: black;
                }
                i{
                    margin: 20px 10px 0 0;
                    font-size: 30px;
                    color: rgba(0,0,0,.6)
                }
                .details{
                    margin-bottom: 30px;  
                }
                label{
                    font-weight: 500;
                    cursor: pointer;
                }
            }
        }
    }
}
@import "./mediaquery";