@import url("https://fonts.googleapis.com/css2?family=Inter+Tight:wght@700;800;900&family=Montserrat:wght@300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", "Inter Tight", sans-serif;
  scroll-behavior: smooth;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
  width: 78%;
}

.title-section {
  font-size: 40px;
  text-align: center;
  padding: 50px 0 50px 0;
}

.reveal {
  opacity: 0;
  transform: translateX(-30px);
  transition: all 0.3s 0.2s ease-in-out;
}

.reveal1 {
  opacity: 0;
  transform: translateY(-30px);
  transition: all 0.3s 0.2s ease-in-out;
}

.reveal2 {
  opacity: 0;
  transform: translateY(30px);
  transition: all 0.3s 0.2s ease-in-out;
}

.active {
  opacity: 1;
  transform: none;
}

.page1 .nav-bar {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  height: 50px;
  background: white;
  z-index: 10;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  box-shadow: 0 1px 9px -5px gray;
}
.page1 .nav-bar .navbar-content {
  width: 90%;
  height: 100%;
  display: flex;
  justify-items: center;
  align-items: center;
  justify-content: flex-end;
}
.page1 .nav-bar .navbar-content ul {
  display: flex;
  list-style: none;
  font-weight: 450;
}
.page1 .nav-bar .navbar-content ul a {
  text-decoration: none;
  color: black;
}
.page1 .nav-bar .navbar-content ul a li {
  margin-left: 60px;
  font-weight: 500;
}
.page1 .nav-bar .bar-container {
  position: absolute;
  top: 15px;
  right: 20px;
}
.page1 .nav-bar .bar-container .bar {
  font-size: 25px;
  display: none;
}
.page1 .nav-bar .bar-container .xmark {
  display: none;
  font-size: 25px;
}
.page1 .container1 {
  height: 800px;
  display: flex;
  align-items: center;
}
.page1 .container1 .text-content {
  margin-bottom: 30px;
  width: 80%;
}
.page1 .container1 .text-content h1 {
  font-size: 43px;
  color: #008726;
}
.page1 .container1 .text-content h1::before {
  content: "Hi, my name is \a";
  color: black;
}
.page1 .container1 .text-content h1::after {
  content: "\a Front End Developer";
  white-space: pre;
  color: black;
}
.page1 .container1 .text-content p {
  font-size: 18px;
  width: 550px;
  margin-top: 10px;
}
.page1 .container1 .text-content button {
  margin-top: 20px;
  background: linear-gradient(90deg, rgb(0, 135, 38) 0%, rgb(50, 185, 44) 100%);
  color: white;
  padding: 15px 20px 15px 20px;
  font-size: 20px;
  border: none;
  border-radius: 6px;
  width: 300px;
}
.page1 .container1 .image-container1 {
  display: flex;
  align-items: flex-end;
  height: 100%;
  width: 20%;
  position: relative;
  z-index: -1;
}
.page1 .container1 .image-container1 img {
  width: 550px;
  position: absolute;
  right: -100px;
}

.page2 {
  width: 100%;
  background: #008726;
  color: white;
  overflow: hidden;
  padding-bottom: 150px;
  position: relative;
}
.page2::after {
  content: "";
  position: absolute;
  height: 31rem;
  left: -5%;
  right: -5%;
  bottom: 0;
  top: 98%;
  background-color: white;
  transform-origin: 0 0;
  transform: rotateZ(-6deg);
  color: black;
}
.page2 .container2 .title-section {
  margin-top: 50px;
}
.page2 .container2 .content2 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  overflow: hidden;
}
.page2 .container2 .content2 .column-left2 img {
  width: 390px;
  height: 390px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 50% 10%;
     object-position: 50% 10%;
  border-radius: 50%;
}
.page2 .container2 .content2 .column-right2 {
  width: 550px;
}
.page2 .container2 .content2 .column-right2 .text {
  line-height: 25px;
  font-weight: 350;
}

.page3 .project-flex-content {
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
}
.page3 .project-flex-content .left-width {
  width: 300px;
  transition: all 0.7s 0.6s ease;
}
.page3 .project-flex-content .left-width .project-text-style-h2 {
  margin-bottom: 20px;
  font-size: 25px;
}
.page3 .project-flex-content .left-width .btn-container {
  display: flex;
  margin-top: 25px;
}
.page3 .project-flex-content .left-width .btn-container .project-btn {
  display: flex;
  width: 120px;
  height: 35px;
  padding: 5px 0;
  justify-content: center;
  text-decoration: none;
  font-weight: 700;
  position: relative;
  overflow: hidden;
  background-color: transparent;
}
.page3 .project-flex-content .left-width .btn-container .project-btn::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, rgb(0, 135, 38) 0%, rgb(50, 185, 44) 100%);
  transition: transform 1s ease;
}
.page3 .project-flex-content .left-width .btn-container .project-btn:hover::before {
  transform: rotate(-180deg);
}
.page3 .project-flex-content .left-width .btn-container .project-btn::after {
  content: "Source Code";
  width: 95%;
  height: 80%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  color: black;
  font-size: 14px;
}
.page3 .project-flex-content .left-width .btn-container button {
  width: 120px;
  height: 35px;
  padding: 5px 0;
  margin-left: 20px;
  border: none;
  color: white;
  font-size: 14px;
  cursor: pointer;
  background: #008726;
  border-radius: 6px;
  transition: transform 0.3s ease;
}
.page3 .project-flex-content .left-width .btn-container button:hover {
  transform: scale(1.01);
}
.page3 .Pimage-style {
  width: 800px;
  box-shadow: 0 0 7px -3px gray;
}
.page3 .container3 .title-section3 {
  color: black;
  margin-top: -100px;
  padding: 100px 0 100px 0;
}
.page3 .container3 .content3 .column-right3 .img1, .page3 .container3 .content3 .column-right3 .img2, .page3 .container3 .content3 .column-right3 .img4, .page3 .container3 .content3 .column-right3 .img5, .page3 .container3 .content3 .column-right3 .img6, .page3 .container3 .content3 .column-right3 .img7 {
  -o-object-position: 100% 0%;
     object-position: 100% 0%;
}
.page3 .container3 .content3 .column-right3 .img3 {
  -o-object-position: 50% 50%;
     object-position: 50% 50%;
}

.page4 {
  background: #008726;
  color: white;
  padding-bottom: 150px;
}
.page4 .container4 .title-section {
  padding: 100px 0 100px 0;
}
.page4 .container4 .skills-content {
  display: flex;
  justify-content: space-between;
}
.page4 .container4 .skills-content .column-left {
  width: 40%;
}
.page4 .container4 .skills-content .column-left h2 {
  margin-bottom: 20px;
}
.page4 .container4 .skills-content .column-left p {
  line-height: 25px;
  font-weight: 350;
}
.page4 .container4 .skills-content .column-right {
  width: 60%;
}
.page4 .container4 .skills-content .column-right .img-container {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 20px;
}
.page4 .container4 .skills-content .column-right .img-container img {
  height: 90px;
  filter: drop-shadow(1px 1px 1px black);
}

footer {
  background: white;
  padding-bottom: 100px;
}
footer .container5 .contact-container {
  display: flex;
  justify-content: space-between;
}
footer .container5 .contact-container .contact-left {
  width: 48%;
}
footer .container5 .contact-container .contact-left form {
  display: flex;
  flex-direction: column;
}
footer .container5 .contact-container .contact-left label {
  font-weight: 500;
}
footer .container5 .contact-container .contact-left input, footer .container5 .contact-container .contact-left textarea {
  outline: none;
  padding: 17px;
  border: none;
  margin: 10px 0 20px 0;
  border-bottom: 2px solid black;
}
footer .container5 .contact-container .contact-left .submit {
  background: linear-gradient(90deg, rgb(0, 135, 38) 0%, rgb(50, 185, 44) 100%);
  width: 130px;
  font-size: 18px;
  padding: 9px;
  outline: none;
  border: none;
  border-radius: 7px;
  color: white;
  cursor: pointer;
}
footer .container5 .contact-container .contact-left .submit i {
  color: white;
}
footer .container5 .contact-container .contact-right {
  width: 45%;
  display: flex;
  flex-direction: column;
}
footer .container5 .contact-container .contact-right span {
  font-size: 20px;
}
footer .container5 .contact-container .contact-right i {
  margin: 20px 10px 0 0;
  font-size: 30px;
  color: rgba(0, 0, 0, 0.6);
}
footer .container5 .contact-container .contact-right .details {
  margin-bottom: 30px;
}
footer .container5 .contact-container .contact-right label {
  font-weight: 500;
}

@media only screen and (max-width: 1440px) {
  .page3 .container3 .content3 {
    flex-direction: column;
  }
  .page3 .container3 .content3 .column-left3 {
    margin-bottom: 50px;
  }
  .page3 .container3 .content3 .column-right3 {
    align-self: center;
  }
}
@media only screen and (max-width: 1300px) {
  .page2 .container2 .content2 .column-right2 {
    margin-left: 60px;
  }
}
@media only screen and (max-width: 1250px) {
  .page1 .container1 .image-container1 img {
    width: 500px;
  }
}
@media only screen and (max-width: 1200px) {
  .page4 {
    padding-bottom: 100px;
  }
  .page4 .container4 .skills-content {
    flex-direction: column;
  }
  .page4 .container4 .skills-content .column-left {
    width: 80%;
    margin-bottom: 50px;
  }
  .page4 .container4 .skills-content .column-right {
    align-self: center;
  }
  .page4 .container4 .skills-content .column-right .img-container img {
    height: 80px;
  }
}
@media only screen and (max-width: 1150px) {
  .page1 .nav-bar .navbar-content {
    position: absolute;
    background-color: white;
    width: 300px;
    height: 400px;
    right: 0;
    justify-content: center;
    border-radius: 6px;
    box-shadow: -1px 1px 10px -5px black;
    transform: translateX(100%);
    transition: transform 1s ease;
  }
  .page1 .nav-bar .navbar-content ul {
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    width: 100%;
    height: 100%;
  }
  .page1 .nav-bar .navbar-content ul a li {
    margin: 40px 0 0 0;
  }
  .page1 .nav-bar .bar-container .bar {
    display: block;
  }
  .page1 .container1 {
    flex-direction: column-reverse;
  }
  .page1 .container1 .text-content {
    margin-top: 50px;
    width: 100%;
    height: 900px;
  }
  .page1 .container1 .image-container1 {
    background-color: #272d2d;
    margin-top: 100px;
    overflow: hidden;
    width: 100%;
    height: 800px;
    border-radius: 10px;
    box-shadow: 2px 2px 10px -5px black;
  }
  .page1 .container1 .image-container1 img {
    width: 50%;
    top: 10px;
    right: 0;
  }
}
@media only screen and (max-width: 1040px) {
  .title-section {
    font-size: 35px;
  }
  .container {
    width: 84%;
  }
  .page1 .container1 .text-content h1 {
    font-size: 35px;
  }
  .page1 .container1 .text-content p {
    font-size: 16px;
  }
  .page1 .container1 .image-container1 {
    height: 680px;
  }
  .page1 .container1 .image-container1 img {
    width: 50%;
  }
  .page2 .container2 .content2 .column-left2 img {
    width: 300px;
    height: 300px;
  }
  .page3 .container3 .content3 .column-left3 {
    width: 250px;
  }
}
@media only screen and (max-width: 930px) {
  .page1 .container1 .image-container1 {
    height: 680px;
  }
  .page1 .container1 .image-container1 img {
    width: 55%;
  }
  .page2 .container2 .content2 {
    flex-direction: column;
  }
  .page2 .container2 .content2 .column-left2 {
    margin-bottom: 50px;
  }
  .page2 .container2 .content2 .column-right2 {
    align-self: flex-start;
    width: 90%;
    margin-left: 0px;
    font-size: 15px;
  }
  .page3 .container3 .content3 .column-left3 h2 {
    font-size: 20px;
  }
  .page3 .container3 .content3 .column-left3 p {
    font-size: 15px;
  }
  .page3 .container3 .content3 .column-right3 .Pimage-style {
    width: 100%;
  }
  .page4 .container4 .skills-content .column-left h2 {
    font-size: 20px;
  }
  .page4 .container4 .skills-content .column-left p {
    font-size: 15px;
  }
  .page4 .container4 .skills-content .column-right {
    width: 80%;
  }
  footer .container5 .contact-container .contact-left form .submit {
    font-size: 15px;
    width: 140px;
    height: 35px;
  }
  footer .container5 .contact-container .contact-right i {
    font-size: 25px;
  }
  footer .container5 .contact-container .contact-right span {
    font-size: 18px;
  }
  footer .container5 .contact-container .contact-right label {
    font-size: 15px;
  }
}
@media only screen and (max-width: 800px) {
  .page1 .container1 .image-container1 {
    height: 600px;
  }
  .page4 .container4 .skills-content .column-left {
    width: 100%;
  }
  footer .container5 .contact-container {
    flex-direction: column;
  }
  footer .container5 .contact-container .contact-left {
    width: 80%;
    margin-bottom: 50px;
  }
  footer .container5 .contact-container .contact-right {
    width: 100%;
  }
}
@media only screen and (max-width: 700px) {
  .page1 .container1 .text-content h1 {
    font-size: 30px;
  }
  .page1 .container1 .image-container1 img {
    width: 60%;
  }
  .page2 .container2 .content2 .column-right2 {
    width: 100%;
  }
  .page4 .container4 .skills-content .column-left {
    width: 100%;
  }
}
@media only screen and (max-width: 600px) {
  .page1 .container1 .text-content p {
    width: 100%;
  }
  .page1 .container1 .image-container1 {
    height: 500px;
  }
  .page1 .container1 .image-container1 img {
    width: 60%;
  }
}
@media only screen and (max-width: 573px) {
  .page1 {
    height: 700px;
  }
  .page1 .container1 .text-content {
    margin-top: 20px;
    height: 600px;
  }
  .page1 .container1 .text-content h1::before {
    white-space: pre;
  }
  .page1 .container1 .text-content button {
    margin: 50px 0 120px 0;
  }
  .page1 .container1 .image-container1 {
    height: 300px;
  }
  .page1 .container1 .image-container1 img {
    width: 300px;
  }
}
@media only screen and (max-width: 550px) {
  .page4 .container4 .skills-content .column-left h2 {
    font-size: 20px;
  }
  .page4 .container4 .skills-content .column-left p {
    font-size: 15px;
  }
  .page4 .container4 .skills-content .column-right {
    width: 100%;
  }
  .page4 .container4 .skills-content .column-right .img-container img {
    height: 70px;
  }
  footer .container5 .contact-container {
    flex-direction: column;
  }
  footer .container5 .contact-container .contact-left {
    width: 100%;
    margin-bottom: 50px;
  }
}
@media only screen and (max-width: 480px) {
  .container {
    width: 88%;
  }
  .title-section {
    font-size: 30px;
    padding: 20px;
  }
  .container2 h1,
.container3 h1,
.container4 h1,
.container5 h1 {
    font-size: 25px;
  }
  .page1 .container1 .text-content button {
    width: 100%;
  }
  .page1 .container1 .image-container1 {
    height: 280px;
  }
  .page1 .container1 .image-container1 img {
    width: 220px;
  }
  .page2 .container2 .title-section {
    padding-bottom: 50px;
  }
  .page3 .container3 .title-section3 {
    padding-bottom: 50px;
  }
  .page3 .container3 .content3 {
    margin-bottom: 60px;
  }
  .page3 .container3 .content3 .column-left3 h2 {
    font-size: 20px;
  }
  .page4 .container4 .title-section {
    padding: 60px 0 50px 0;
  }
  .page4 .container4 .skills-content .column-right .img-container img {
    height: 60px;
  }
  footer .container5 .title-section {
    padding: 60px 0 50px 0;
  }
}/*# sourceMappingURL=styles.css.map */