@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:wght@700;800;900&family=Montserrat:wght@300;400;500;600;700;800;900&display=swap');
$colorTheme: #B38867;
$colorTheme2: #735741;
$colorTheme3: #906d52;
$colorTheme4: linear-gradient(90deg, rgba(56,31,25,1) 21%, rgba(115,87,65,1) 88%);
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat','Inter Tight', sans-serif;
    scroll-behavior: smooth;
}
.nav-bar{
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    height: 50px;
    background-color: transparent;
}

//Container style to all
.container{
    margin: 0 auto;
    max-width: 1200px;
    width: 75%;
}
//Title style to all
.title-section{
    font-size: 40px;
    text-align: center;
    padding: 50px 0 50px 0;
}
// animation
.reveal {
    opacity: 0;
    transform: translateX(-30px);
    transition: all .7s .2s ease-in-out;
}
.reveal1{
    opacity: 0;
    transform: translateY(-30px);
    transition: all .7s .2s ease-in-out;
}
.reveal2{
    opacity: 0;
    transform: translateX(30px);
    transition: all .7s .2s ease-in-out;
}
.active {
    opacity: 1;
    transform: none;
}

//Page1
.page1{
    .container1{
        height: 100vh;
        display: flex;
        align-items: center;
        .text-content{
            margin-bottom: 30px;
            h1{
                font-size: 50px;
                span{
                    color: $colorTheme3;
                }
            }
        }
    }
}

//Page2
.page2 {
    width: 100%;
    background: linear-gradient(90deg, rgba(56,31,25,1) 21%, rgba(115,87,65,1) 88%);
    position: relative;
    overflow: hidden;
    z-index: -2;
    padding-bottom: 150px;

    &::after{
        content: "";
        position: absolute;
        height: 30rem;
        left: -5%;
        right: -5%;
        bottom: 0;
        top: 98%;
        background-color: white;
        transform-origin: 0 0;
        transform: rotateZ(-6deg);
        color: black;
        z-index: -1;
    }
    .container2{
        .title-section {
            color: white;
        }
        .content2{
            display: flex;
            justify-content: space-around;
            align-items: center;
            color: white;
            overflow: hidden;
            .column-left2{
                img{
                    width: 390px;
                    height: 390px;
                    object-fit: cover;
                    object-position: 50% 10%;
                    box-shadow: 6px 4px 5px $colorTheme ;
                    border-radius: 50%;
                }
            }
            .column-right2{
                transition: all 1s .3s ease-in-out;
                width: 550px;
                .text{
                    line-height: 25px;
                    text-shadow: 0 0 1px black;
                }
            }
        }
    }
}

//page3
.page3{
    //Flex-style all in projects
    .project-flex-content{
        display: flex;
        justify-content: space-between;
        margin-bottom: 100px;
        .left-width{
            width: 300px;
            transition: all .7s .6s ease;
            .poject-text-style-h2{
                margin-bottom: 20px;
                font-size: 25px
            }
            .project-btn{
                display: flex;
                width: 120px;
                height: 30px;
                padding: 5px 0;
                justify-content: center;
                margin-top: 10px;
                text-decoration: none;
                font-weight: 700;
                position: relative;
                overflow: hidden;
                background-color: transparent;
                &::before{
                    content: "";
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    width: 100%;
                    height: 100%;
                    background-image: conic-gradient($colorTheme 50deg, $colorTheme 120deg);
                    transition: transform 1s ease;
                }
                &:hover::before{
                    transform: rotate(-180deg);
                }
                &::after{
                    content: "Source Code";
                    width: 95%;
                    height: 80%;
                    position: absolute;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    color: black;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%, -50%);
                    background-color: white;
                    color: $colorTheme;   
                }
            }
        }
    }
    //Project img style
    .Pimage-style{
        width: 700px;
        height: 398px;
        box-shadow: 0 0 7px -3px gray;
        object-fit: cover;
    }
    .container3{
        .title-section3{
            color: black;
            margin-top: -100px;
            padding-top: 50px;
            z-index: 2;
        }
        .content3{
            .column-right3{
                .img1, .img2, .img4, .img5, .img6, .img7{
                    object-position: 100% 0%;
                }
                .img3{
                    object-position: 50% 50%;
                }
            }
        }
    }
}
.page4{
    background-color: #f6f6f6;
    padding-bottom: 150px;
    .container4{
        .skills-content{
            display: flex;
            justify-content: space-between;
            .column-left{
                width: 40%;
                // text-align: justify;
                h2{
                    margin-bottom: 20px;
                }
                p{
                    line-height: 25px;
                }
            }
            .column-right{
                width: 60%;
                .img-container{
                    display: flex;
                    justify-content: space-evenly;
                    margin-bottom: 20px;
                    img{
                        height: 90px;
                    }
                }
            }
        }
    }
}
footer{
    background: linear-gradient(90deg, rgba(56,31,25,1) 21%, rgba(115,87,65,1) 88%);
    color: white;
    padding-bottom: 50px;
    .container5{
        .contact-container{
            display: flex;
            justify-content: space-between;
            .contact-left{
                width: 48%;
                form{
                display: flex;
                flex-direction: column;
                }
            }
            .contact-left{
                input, textarea{
                    outline: none;
                    padding: 17px;
                    border: none;
                    margin: 10px 0 20px 0;
                    border-radius: 7px;
                }
                .submit{
                    background-color: white;
                    width: 110px;
                    font-size: 14px;
                    padding: 10px;
                    border-radius: 7px;
                    outline: none;
                    border: none;
                    cursor: pointer;
                }
            }
            .contact-right{
                width: 45%;
                display: flex;
                flex-direction: column;
                i{
                    margin-top: 10px;
                }
                .details{
                    margin-bottom: 20px;  
                }
                .social{

                }
            }
        }
    }
}