@import url("https://fonts.googleapis.com/css2?family=Inter+Tight:wght@700;800;900&family=Montserrat:wght@300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", "Inter Tight", sans-serif;
  scroll-behavior: smooth;
}

.nav-bar {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  height: 50px;
  background-color: transparent;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
  width: 75%;
}

.title-section {
  font-size: 40px;
  text-align: center;
  padding: 50px 0 50px 0;
}

.reveal {
  opacity: 0;
  transform: translateX(-30px);
  transition: all 0.7s 0.2s ease-in-out;
}

.reveal1 {
  opacity: 0;
  transform: translateY(-30px);
  transition: all 0.7s 0.2s ease-in-out;
}

.reveal2 {
  opacity: 0;
  transform: translateX(30px);
  transition: all 0.7s 0.2s ease-in-out;
}

.active {
  opacity: 1;
  transform: none;
}

.page1 .container1 {
  height: 100vh;
  display: flex;
  align-items: center;
}
.page1 .container1 .text-content {
  margin-bottom: 30px;
}
.page1 .container1 .text-content h1 {
  font-size: 50px;
}
.page1 .container1 .text-content h1 span {
  color: #906d52;
}

.page2 {
  width: 100%;
  background: linear-gradient(90deg, rgb(115, 87, 65) 24%, rgb(144, 109, 82) 62%, rgb(161, 122, 92) 87%);
  position: relative;
  overflow: hidden;
  z-index: -2;
  padding-bottom: 150px;
}
.page2::after {
  content: "";
  position: absolute;
  height: 30rem;
  left: -5%;
  right: -5%;
  bottom: 0;
  top: 98%;
  background-color: white;
  transform-origin: 0 0;
  transform: rotateZ(-6deg);
  color: black;
  z-index: -1;
}
.page2 .container2 .title-section {
  color: white;
}
.page2 .container2 .content2 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
  overflow: hidden;
}
.page2 .container2 .content2 .column-left2 img {
  width: 390px;
  height: 390px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 50% 10%;
     object-position: 50% 10%;
  box-shadow: 6px 4px 5px #B38867;
  border-radius: 50%;
}
.page2 .container2 .content2 .column-right2 {
  transition: all 1s 0.3s ease-in-out;
  width: 550px;
}
.page2 .container2 .content2 .column-right2 .text {
  line-height: 25px;
  text-shadow: 0 0 1px black;
}

.page3 .project-flex-content {
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
}
.page3 .project-flex-content .left-width {
  width: 300px;
  transition: all 0.7s 0.6s ease;
}
.page3 .project-flex-content .left-width .poject-text-style-h2 {
  margin-bottom: 20px;
  font-size: 25px;
}
.page3 .project-flex-content .left-width .project-btn {
  display: flex;
  width: 120px;
  height: 30px;
  padding: 5px 0;
  justify-content: center;
  margin-top: 10px;
  text-decoration: none;
  font-weight: 700;
  position: relative;
  overflow: hidden;
  background-color: transparent;
}
.page3 .project-flex-content .left-width .project-btn::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-image: conic-gradient(#B38867 50deg, #B38867 120deg);
  transition: transform 1s ease;
}
.page3 .project-flex-content .left-width .project-btn:hover::before {
  transform: rotate(-180deg);
}
.page3 .project-flex-content .left-width .project-btn::after {
  content: "Source Code";
  width: 95%;
  height: 80%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  color: #B38867;
}
.page3 .Pimage-style {
  width: 700px;
  height: 398px;
  box-shadow: 0 0 7px -3px gray;
  -o-object-fit: cover;
     object-fit: cover;
}
.page3 .container3 .title-section3 {
  color: black;
  margin-top: -100px;
  padding-top: 50px;
  z-index: 2;
}
.page3 .container3 .content3 .column-right3 .img1, .page3 .container3 .content3 .column-right3 .img2, .page3 .container3 .content3 .column-right3 .img4, .page3 .container3 .content3 .column-right3 .img5, .page3 .container3 .content3 .column-right3 .img6, .page3 .container3 .content3 .column-right3 .img7 {
  -o-object-position: 100% 0%;
     object-position: 100% 0%;
}
.page3 .container3 .content3 .column-right3 .img3 {
  -o-object-position: 50% 50%;
     object-position: 50% 50%;
}

.page4 {
  background-color: #f6f6f6;
  padding-bottom: 150px;
}
.page4 .container4 .skills-content {
  display: flex;
  justify-content: space-between;
}
.page4 .container4 .skills-content .column-left {
  width: 40%;
}
.page4 .container4 .skills-content .column-left h2 {
  margin-bottom: 20px;
}
.page4 .container4 .skills-content .column-left p {
  line-height: 25px;
}
.page4 .container4 .skills-content .column-right {
  width: 60%;
}
.page4 .container4 .skills-content .column-right .img-container {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 20px;
}
.page4 .container4 .skills-content .column-right .img-container img {
  height: 90px;
}

footer {
  background-color: #735741;
  height: 500px;
  color: white;
}/*# sourceMappingURL=styles.css.map */